<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="watcherSection"
             type="ConsoleWatcher.Configuration.WatcherConfigurationSection, ConsoleWatcher"/>
  </configSections>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7" />
  </startup>

  <watcherSection>
    <culture name="ru-RU"/>
    <watcherDirectories>
      <watcherDirectory name="root" path="D:\Temp" filter="*.txt"/>
    </watcherDirectories>
    <rules>
      <rule name="first"
            pattern="[A-Za-z]*\d{1}.txt"
            outputDirectory="D:\Temp\First"
            isAddNumber="true"
            isAddCurrentDate="true"/>
      <rule name="second"
            pattern="[A-Za-z]*\d{1}[A-Za-z]{1}.txt"
            outputDirectory="D:\Temp\Second"
            isAddNumber="true"
            isAddCurrentDate="true"/>
      <rule name="third"
            pattern="[A-Za-z]*\d{1}[A-Za-z]{2}.txt"
            outputDirectory="D:\Temp\Third"
            isAddNumber="true"
            isAddCurrentDate="true"/>
    </rules>
    <defaultOutputDirectory path="D:\Temp\Default"
                            isAddNumber="true"
                            isAddCurrentDate="true"/>
  </watcherSection>
</configuration>